
<style>
table, th, td
{
  border:1px solid black;
}
</style>

<table>
  <tr>
    <th>Full_name</th>
    <th>Admin</th>
    <th>Delete</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
    <td> <%= user.full_name %> </td>
    <td> <%= user.admin %> </td>
    <td> (<%= link_to "Delete", admin_user_path(user), method: :delete, confirm: "You sure?" %>)
    </td>
    </tr>
  <% end %>

</table>

<%= paginate @users %>